/* Estilos específicos de componentes */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.telemetry-block {
    border-left: 1px solid #3f4a3b;
    border-right: 1px solid #3f4a3b;
    padding: 0 12px;
}

.double-border {
    border: 1px solid rgba(226, 226, 226, 0.15);
    padding: 4px;
}

.double-border-inner {
    border: 1px solid rgba(226, 226, 226, 0.15);
}
.selected-day {
    border-color: #92fa83 !important;
    background-color: rgba(146, 250, 131, 0.15);
    color: #92fa83;
}

.selected-mechanic {
    border-color: #92fa83 !important;
    background-color: rgba(146, 250, 131, 0.08);
}

.active-service {
    background-color: #77dd6a !important;
    color: #003a03 !important;
}